<div
  id="countdown"
  class="flex flex-col items-center gap-4 text-white"
  data-controller="countdown"
  data-countdown-start-date-value="<%= start %>">
  <div class="grid auto-cols-max grid-flow-col gap-3 text-center">
    <div class="flex flex-col items-center">
      <span data-countdown-target="days" class="text-3xl font-playfair font-bold min-w-[3ch]">0</span>
      <span class="text-xs uppercase">jours</span>
    </div>
    <div class="flex flex-col items-center">
      <span data-countdown-target="hours" class="text-3xl font-playfair font-bold min-w-[2ch]">00</span>
      <span class="text-xs uppercase">heures</span>
    </div>
    <div class="flex flex-col items-center">
      <span data-countdown-target="minutes" class="text-3xl font-playfair font-bold min-w-[2ch]">00</span>
      <span class="text-xs uppercase">min</span>
    </div>
    <div class="flex flex-col items-center">
      <span data-countdown-target="seconds" class="text-3xl font-playfair font-bold min-w-[2ch]">00</span>
      <span class="text-xs uppercase">sec</span>
    </div>
  </div>
</div>
