<div class="px-4" data-controller="counter">
  <div class="flex items-start gap-5 mb-2">
    <div class="flex flex-col flex-1">
      <p class="text-xl font-extralight text-white mb-4 ">Choisissez un nombre de voyageurs :</p>
    </div>
  </div>

  <!-- Room and Guests Counters -->
  <div class="bg-white bg-opacity-10 rounded-2xl p-4">
    <div class="flex flex-col gap-4">
      <!-- Adults -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <span class="font-material text-white font-thin">person</span>
          <p class="text-white">Adulte(s)</p>
          <small class="text-gray-300 text-sm">13 ans ou plus</small>
        </div>
        <div class="flex items-center gap-4">
          <button type="button" data-action="click->counter#decrement" data-counter-target="decrement" data-type="adults" class="w-8 h-8 bg-white text-black rounded-full font-material">remove</button>
          <span class="text-white" data-counter-target="value" data-type="adults">1</span>
          <button type="button" data-action="click->counter#increment" data-counter-target="increment" data-type="adults" class="w-8 h-8 bg-white text-black rounded-full font-material">add</button>
        </div>

      </div>

      <!-- Children -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <span class="font-material text-white font-thin">child_friendly</span>
          <p class="text-white">Enfant(s)</p>
          <small class="text-gray-300 text-sm">2 à 13 ans</small>
        </div>
        <div class="flex items-center gap-4">
          <button type="button" data-action="click->counter#decrement" data-counter-target="decrement" data-type="children" class="w-8 h-8 bg-white text-black rounded-full font-material">remove</button>
          <span class="text-white" data-counter-target="value" data-type="children">0</span>
          <button type="button" data-action="click->counter#increment" data-counter-target="increment" data-type="children" class="w-8 h-8 bg-white text-black rounded-full font-material">add</button>
        </div>

      </div>

      <!-- Infants -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <span class="font-material text-white font-thin">baby_changing_station</span>
          <p class="text-white">Bébé(s)</p>
          <small class="text-gray-300 text-sm">2ans et moins</small>
        </div>
        <div class="flex items-center gap-4">
          <button type="button" data-action="click->counter#decrement" data-counter-target="decrement" data-type="infants" class="w-8 h-8 bg-white text-black rounded-full font-material">remove</button>
          <span class="text-white" data-counter-target="value" data-type="infants">0</span>
          <button type="button" data-action="click->counter#increment" data-counter-target="increment" data-type="infants" class="w-8 h-8 bg-white text-black rounded-full font-material">add</button>
        </div>

      </div>
    </div>
  </div>

  <%= simple_form_for @trip, html: { class: "space-y-6" } do |f| %>
    <%= f.hidden_field :adults, value: 0, id: "trip_adults", data: { type: "adults", "counter-target": "input" } %>
    <%= f.hidden_field :children, value: 0, id: "trip_children", data: { type: "children", "counter-target": "input" } %>
    <%= f.hidden_field :infants, value: 0, id: "trip_infants", data: { type: "infants", "counter-target": "input" } %>
  <% end %>
</div>
