<div class="px-4">
  <div class="flex flex-col flex-1">
    <p class="text-lg font-extralight text-white">Choisissez une destination :</p>
  </div>

  <%= simple_form_for @trip, html: { class: ""} do |f| %>
  <%= f.input :destination,
              label: false,
              class: "required",
              input_html: { placeholder: "Paris, Rome, New York...",
              style:"all: unset;width: 100%;
                    border: solid 1px white;
                    display: block;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    color: white;
                    font-weight: light;
                    margin-top: 15px;" },
              error_html: { class: "text-red-500 text-sm mt-2" }
                %>
  <% end %>
</div>

<h2 class="text-white font-light p-4">Besoin d'inspiration ?</h2>

<div class="carousel carousel-center w-screen px-14 gap-1" data-controller="carousel-suggestions">
  <% @suggestions.each do |suggestion| %>
    <div data-carousel-suggestions-target="item"
         class="scale-95 transition-all duration-500 opacity-75 cursor-pointer"
         data-value="<%= suggestion.city %>">
      <%= render 'shared/suggestion_card', suggestion: suggestion %>
    </div>
  <% end %>
</div>
