<div class="px-4">
  <div class="flex flex-col flex-1  mt-3">
    <p class="text-lg font-extralight text-white mb-2">Choisissez une destination :</p>
  </div>

  <%= f.input :destination,
              label: false,
              placeholder: "Paris, Londres, New York City",
              required: true,
              input_html: { class: "bg-white bg-opacity-10 text-white placeholder:italic placeholder:text-slate-400 block w-full border border-white rounded-md py-3 shadow-sm focus:outline-none focus:border-orange-500 focus:ring-orange-600 focus:ring-1 sm:text-sm",
              data: { "stepper-target": "input" }
              } %>
</div>

<div class="flex flex-col flex-1 px-4 mt-3">
  <p class="text-lg font-extralight text-white mb-2">Nos suggestions :</p>
</div>

<div class="carousel carousel-center w-screen pl-4 pr-20 gap-1" data-controller="carousel-suggestions">
  <div data-carousel-suggestions-target="item"
        class="scale-95">
    <div class="carousel-item w-44">
      <div class="relative overflow-hidden rounded-box w-full h-60 flex flex-col items-center justify-center bg-gradient-to-br from-orange-400 to-orange-700">
        <div class="absolute text-white w-full p-4">
          <p class="text-2xl font-bold font-playfair leading-6 mb-2">En panne d'idée ?</p>
          <p class="text-md leading-5 font-light tracking-tight">Découvrez les destinations les plus demandées par nos wanderers :</p>
        </div>
      </div>
    </div>

  </div>
  <% @suggestions.each do |suggestion| %>
    <div data-carousel-suggestions-target="item"
         class="scale-95 transition-all duration-500 opacity-75 cursor-pointer"
         data-value="<%= suggestion.city %>">
      <%= render 'shared/suggestion_card', suggestion: suggestion %>
    </div>
  <% end %>
</div>
