<div id="calendar-part" data-controller="datepicker" class="px-4 pb-3">
  <div class="flex items-start gap-5 mb-2">
    <div class="flex flex-col flex-1">
      <p class="text-xl font-extralight text-white mb-4 ">Choisissez vos dates :</p>
      <div class="flex">
        <div class="flex flex-col flex-1">
          <p class="font-light text-white">Départ</p>
          <p class="text-sm text-white" data-datepicker-target="startDate">/</p>
        </div>
        <div class="flex flex-col flex-1">
          <p class="font-light text-white">Retour</p>
          <p class="text-sm text-white" data-datepicker-target="endDate">/</p>
        </div>
      </div>
    </div>
  </div>

  <%= simple_form_for @trip do |f| %>
    <div id="calendar" data-datepicker-target="calendar" class="w-full"></div>
    <%= f.hidden_field :start_date, id: "start-date" %>
    <%= f.hidden_field :end_date, id: "end-date" %>
  <% end %>
</div>
