<div class="px-4">
  <div class="flex items-start gap-5 mb-2 mt-3">
    <div class="flex flex-col flex-1">
      <p class="text-xl font-extralight text-white mb-4 ">Choisissez des genres d'activités :</p>
    </div>
  </div>

  <!-- Options -->
  <div class="grid grid-cols-2 gap-2 bg-white bg-opacity-10 rounded-2xl py-4 px-7 border border-white">
    <% ["Culturel", "Nature", "Aventure", "Loisirs", "Détente", "Gastronomie", "Shopping", "Vie Nocturne", "Sportif"].each do |activity| %>
      <div>
        <label class="flex items-center gap-3 text-white cursor-pointer">
          <%= f.check_box :categories, { multiple: true, class: "hidden peer" }, activity %>
          <!-- Icône remplaçant la checkbox -->
          <div class="w-4 h-4 flex items-center justify-center peer-checked:text-orange-500 peer-checked:icon-filled">
            <span class="icon icon-300 text-sm">
              <%= case activity
                  when "Culturel" then "museum"
                  when "Nature" then "park"
                  when "Aventure" then "hiking"
                  when "Loisirs" then "sports_soccer"
                  when "Détente" then "spa"
                  when "Gastronomie" then "restaurant"
                  when "Shopping" then "shopping_bag"
                  when "Vie Nocturne" then "nightlife"
                  when "Sportif" then "fitness_center"
                  end %>
            </span>
          </div>
          <span class="text-sm"><%= activity %></span>
        </label>
      </div>
    <% end %>
  </div>

  <div class="flex items-start gap-5 mt-4">
    <div class="flex flex-col flex-1">
      <p class="text-xl font-extralight text-white mb-4 ">Des idées en plus ?</p>
    </div>
  </div>

  <%= f.text_area :inspiration, class:"bg-white bg-opacity-10 text-white placeholder:italic placeholder:text-slate-400 block w-full border border-white rounded-md py-3 shadow-sm focus:outline-none focus:border-orange-500 focus:ring-orange-600 focus:ring-1 sm:text-sm min-h-24", placeholder: "Propose-moi un lieu pour voir le coucher de soleil le vendredi soir" %>

</div>
