<ul class="steps px-14 w-screen mt-safe-or-4 opacity-0 transition-opacity duration-500" data-controller="tabs-form-new-trip" data-tabs-form-new-trip-target="tabs" data-add-trip-animation-target="tabs">
  <li class="step step-warning text-sm font-medium text-white" data-tabs-form-new-trip-target="tabs">Où</li>
  <li class="step text-sm font-medium text-white" data-tabs-form-new-trip-target="tabs">Quand</li>
  <li class="step text-sm font-medium text-white" data-tabs-form-new-trip-target="tabs">Avec</li>
  <li class="step text-sm font-medium text-white" data-tabs-form-new-trip-target="tabs">Options</li>
</ul>

<style>
  .steps .step-warning + .step-warning::before,
  .steps .step-warning::after {
    background: #EA580C !important;
    color: white !important;
  }
</style>
