<div class="flex gap-3 p-4" data-controller="tabs-form-new-trip" data-tabs-form-new-trip-target="tabs">
  <div class="text-sm font-medium text-white border bg-opacity-25 px-4 py-2" data-tabs-form-new-trip-target="tabs">Où</div>
  <div class="text-sm font-medium text-white border bg-opacity-25 px-4 py-2" data-tabs-form-new-trip-target="tabs">Quand</div>
  <div class="text-sm font-medium text-white border bg-opacity-25 px-4 py-2" data-tabs-form-new-trip-target="tabs">Avec</div>
  <div class="text-sm font-medium text-white border bg-opacity-25 px-4 py-2" data-tabs-form-new-trip-target="tabs">Options</div>
</div>
