.halo{
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.2);
}

#title-part {
  overflow: hidden;
  transition: margin-top 1s ease-in-out;
}

.next-trip-container{
  top: -1px;
  padding-top: calc(1em + 1px);
  border-radius: 1rem;
}

.next-trip-container.sticked {
  padding-top: calc(env(safe-area-inset-top) + 1rem);
  border-radius: 0;
}

.mt-title{
  margin-top: calc(100vh - 270px - env(safe-area-inset-top));
}

.next-trip-container{
  top: -1px;
  padding-top: calc(1em + 1px);
}

.stack-cards__item {
  position: sticky;
  top: -1px;
  transform-origin: center top;
}
