<div id="screen-container" class="relative flex justify-center h-screen overflow-hidden">
  <div class="absolute inset-0 animate-gradient mesh-gradient-dark opacity-70"></div>

  <div class="relative flex flex-col w-full mb-5 h-100vh">
    <div  id="title-part" class="h-28 mb-4 flex justify-start w-full">
      <p id="typewriter-text" class="relative w-full px-3 text-white text-2xl font-semibold"></p>
    </div>
    <div id="pulse-button" class="absolute transition-opacity duration-1000 animate-pulse-slow flex justify-center items-center bottom-10 w-full">
      <div class="w-16 h-16 halo animate-gradient mesh-gradient-orange rounded-full"></div>
    </div>
  </div>

  <div id="calendar-part" class="absolute opacity-0 transition-opacity inset-0 flex flex-col p-4 mt-32">
    <div class="flex gap-3" id="navbar">
      <button class="text-sm font-medium text-white bg-white bg-opacity-25 px-4 py-2">Select dates</button>
      <button class="text-sm font-medium text-white border px-4 py-2">Who</button>
      <button class="text-sm font-medium text-white border px-4 py-2">Where</button>
    </div>
    <p class="mt-8 text-lg font-medium text-white">Step 1:</p>
    <p class="text-xl font-semibold text-white">Choose the dates of the trip:</p>


    <%= simple_form_for @trip, url: trips_path do |f| %>
      <div id="calendar" data-controller="datepicker" class="w-full"></div>
      <%= f.hidden_field :start_date, id: "start-date" %>
      <%= f.hidden_field :end_date, id: "end-date" %>
      <div class="flex justify-center mt-6">
        <%= f.button :submit, "Save Dates", class: "bg-opacity-50 text-sm font-medium text-white border px-4 py-2 hover:bg-white" %>
      </div>
    <% end %>

  </div>
</div>



<style>
.mesh-gradient-dark {
  background-color: rgb(241, 245, 249);
  background-image: radial-gradient(at 23% 87%, rgb(15, 23, 42) 0, transparent 73%),
                    radial-gradient(at 60% 62%, rgb(30, 41, 59) 0, transparent 96%),
                    radial-gradient(at 79% 10%, rgb(30, 41, 59) 0, transparent 78%),
                    radial-gradient(at 24% 8%, rgb(12, 74, 110) 0, transparent 100%),
                    radial-gradient(at 21% 23%, rgb(15, 23, 42) 0, transparent 42%),
                    radial-gradient(at 32% 41%, rgb(15, 23, 42) 0, transparent 46%);
}

.mesh-gradient-orange {
  background-color: rgb(244, 63, 94);
  background-image: radial-gradient(at 33% 93%, rgb(254, 243, 199) 0, transparent 58%),
                    radial-gradient(at 100% 87%, rgb(226, 232, 240) 0, transparent 50%),
                    radial-gradient(at 62% 71%, rgb(154, 52, 18) 0, transparent 26%),
                    radial-gradient(at 39% 22%, rgb(234, 88, 12) 0, transparent 100%);
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-pulse-slow {
  animation: pulse 5s ease-in-out infinite;
}

.halo{
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.2);
}

#title-part {
  display: block;
  overflow: hidden;
  margin-top: calc(100vh - 260px);
  transition: margin-top 1s ease-in-out;
}
</style>

<script>
  const textElement = document.getElementById("typewriter-text");
  const text = "Hi, I'm Wander, your personal assistant. I need to ask you some questions for your future trip.";

  const titlePart = document.getElementById("title-part");
  const calendarPart = document.getElementById("calendar-part");
  const pulseButton = document.getElementById("pulse-button");

  let index = 0;

  function typeWriter() {
    if (index < text.length) {
      textElement.innerHTML += text.charAt(index);
      index++;
      setTimeout(typeWriter, 30);
    } else {
      setTimeout(() => {
        titlePart.style.marginTop = "10px";
        pulseButton.classList.add("opacity-0");
        setTimeout(() => {
          pulseButton.classList.add("hidden");
          calendarPart.classList.replace("opacity-0", "opacity-100");
        }, 1000);
      }, 500);
    }
  }

  window.onload = () => {
    setTimeout(typeWriter, 500);
  };
</script>
