<div data-controller="splash-screen">
  <div id="splash-screen" data-splash-screen-target="splash" class="fixed inset-0 flex items-center justify-center z-50 h-screen w-screen radial-gradient-dark-orange">
    <img src="<%= asset_path 'logo.png' %>" alt="Logo" class="h-24 animate-fade-in-slow">
  </div>
</div>

<turbo-frame id="main-turbo" src="<%= @path %>" action="replace" target="_top">
  <div  class="fixed inset-0 flex flex-col items-center justify-center z-0 h-screen w-screen radial-gradient-dark-orange">
    <span class="loading loading-ring loading-lg text-white mt-4"></span>
  </div>
</turbo-frame>
