<dialog id="add_picture_modal" class="modal">
  <div class="modal-box">
    <h3>Ajoute des photos</h3>
    <%= simple_form_for(@activity, url: :activity, method: :patch) do |f| %>
      <div class="form-inputs space-y-4">
        <%= f.input :photos, as: :file, label: "Sélectionnez vos photos", input_html: { multiple: true } %>
      </div>
      <div class="form-actions mt-11 flex justify-center">
        <%= f.button :submit, "Edit", class: "bg-blue-500 text-white text-sm font-medium py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
      </div>
    <% end %>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
</form>
</dialog>
